<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.album">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application>

        <activity
            android:name=".PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoScanActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".utils.PhotoFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/album__picker_provider_paths"/>
        </provider>
    </application>
</manifest>